<body *ngIf="currentPage === 'main'">
<div class="container">
  <div class="row">
    <div class="col-11">
      <h1>Colin Kristen</h1>
    </div>
    <div class="col-1" style="text-align: end">
      <button style="border: none; background-color: var(--background-primary)" *ngIf="currentLang=='DE'"><span class="fi fi-gb" (click)="changeLang(this.currentLang)" ></span></button>
      <button style="border: none; background-color: var(--background-primary)" *ngIf="currentLang=='EN'"><span class="fi fi-de" (click)="changeLang(this.currentLang)" ></span></button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 profile-img-div">
      <img src="assets/colin.JPG" alt="colin" class="profile-img">
    </div>
    <div class="col-lg-8">
      <p class="lead" style="position: relative" *ngIf="currentLang == 'DE'">Willkommen auf meiner persönlichen Webseite! Ich bin leidenschaftlicher Webdesigner und freue mich, Sie in meine digitale Welt einzuladen, in der Ästhetik, Funktionalität und Kreativität aufeinandertreffen.</p>
      <p class="lead" style="position: relative" *ngIf="currentLang == 'EN'">Welcome to my personal website! I am a passionate web designer and am excited to invite you into my digital world where aesthetics, functionality, and creativity converge.</p>
      <p style="position: relative" *ngIf="currentLang == 'DE'">Mein Name ist Colin Kristen, und ich habe mich der Kunst verschrieben, fesselnde Online-Erlebnisse zu schaffen. Mit einem Auge für Detail und einem Gespür für aktuelle Designtrends gestalte ich Websites, die nicht nur beeindrucken, sondern auch Ihren individuellen Bedürfnissen gerecht werden.</p>
      <p style="position: relative" *ngIf="currentLang == 'EN'">My name is Colin Kristen, and I am dedicated to the art of creating captivating online experiences. With an eye for detail and a sense of current design trends, I craft websites that not only impress but also cater to your individual needs.</p>
      <p style="position: relative" *ngIf="currentLang == 'DE'">Was mich auszeichnet, ist meine Fähigkeit, Technologie und Design harmonisch miteinander zu verbinden. Ich arbeite eng mit meinen Kunden zusammen, um ihre Visionen zu verstehen und sie in einzigartige, ansprechende und benutzerfreundliche Designs umzusetzen. Dabei lege ich großen Wert auf reibungslose Navigation, schnelle Ladezeiten und eine nahtlose Anpassungsfähigkeit auf verschiedenen Geräten.</p>
      <p style="position: relative" *ngIf="currentLang == 'EN'">What sets me apart is my ability to seamlessly blend technology and design. I work closely with my clients to understand their visions and translate them into unique, engaging, and user-friendly designs. I place great emphasis on smooth navigation, fast loading times, and seamless adaptability across various devices.</p>
      <p style="position: relative" *ngIf="currentLang == 'DE'">Stöbern Sie durch meine Galerie, um einen Einblick in meine bisherigen Arbeiten zu erhalten, und lassen Sie sich von meiner Leidenschaft für kreatives Webdesign inspirieren.</p>
      <p style="position: relative" *ngIf="currentLang == 'EN'">Browse through my gallery to gain insight into my past works and be inspired by my passion for creative web design.</p>
      <p style="position: relative" *ngIf="currentLang == 'DE'">Wenn Sie auf der Suche nach einem verlässlichen Partner sind, der Ihre Online-Präsenz auf das nächste Level hebt, stehe ich Ihnen gerne zur Verfügung. Ich lade Sie herzlich ein, Kontakt mit mir aufzunehmen, um über Ihre Ideen und Projekte zu sprechen. Gemeinsam können wir eine Webseite gestalten, die Ihre Einzigartigkeit widerspiegelt und Ihre Zielgruppe begeistert.</p>
      <p style="position: relative" *ngIf="currentLang == 'EN'">If you're in search of a reliable partner to elevate your online presence to the next level, I'm here to help. I warmly invite you to get in touch to discuss your ideas and projects. Together, we can craft a website that reflects your uniqueness and captivates your target audience.</p>
    </div>
  </div>

  <hr class="my-5">

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="projects-section">
        <h2>Projekte</h2>

        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="https://soundwave-hub.framer.website/">
                <img src="assets/carousel-soundwavehub.PNG" class="d-block w-100" alt="soundwave-hub">
              </a>
            </div>
            <div class="carousel-item">
              <a href="https://cooksmart.framer.website/">
                <img src="assets/carousel-cooksmart.PNG" class="d-block w-100" alt="cooksmart">
              </a>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>

<hr class="my-5">
</body>


<section *ngIf="currentPage === 'imprint'">
  <div class="container">
    <h3><button class="btn btn-primary back-btn" (click)="changeSite('main')">Zurück</button></h3>

    <h1>Impressum</h1>
    <p>Verantwortlich für den Inhalt:</p>
    <address>
      Colin Kristen<br>
      Am Steinernen Kreuz 42<br>
      61169 Friedberg<br>
      Deutschland
    </address>

    <p>Kontakt:</p>
    <ul>
      <li>E-Mail: <a href="mailto:colin.kristen.business@gmail.com">colin.kristen.business@gmail.com</a></li>
    </ul>


    <p>Haftungshinweis:<br>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte
      externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>

    <p>Urheberrecht:<br>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
      deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
      Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</p>

    <p>Datenschutzerklärung:<br>Bitte beachten Sie unsere Datenschutzerklärung.</p>

    <p>Online-Streitbeilegung:<br>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS)
      bereit, die Sie unter <a href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a> finden.</p>
  </div>
</section>

<nav class="py-1 border-top footer">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-2" style="text-align: center">
      <button (click)="changeSite('imprint')" class="btn link">Impressum</button>
    </div>
    <div class="col-2" style="text-align: center">
      <button (click)="changeSite('privacy')" class="btn link">Datenschutz</button>
    </div>
    <div class="col-4"></div>
  </div>
</nav>


